# Entornos virtuales
venv/
env/
# Archivos de caché de Python
__pycache__/
*.pyc
# Archivos de seguridad y entorno (¡SÚPER IMPORTANTE!)
.env
# Archivos subidos por los usuarios
uploads/
*.pdf
# Archivos de sistema operativo
.DS_Store
Thumbs.db

# managed
**.data.json
**.node-persist**
**_IGNORE_**
# end managed

# Frontend
node_modules/
dist/
dev-dist/
.vscode/
